:root {
    --primary: #222222;
    --secondary: #ffffff;
    --accent: #2979FF;
    --font: "Poppins", Helvetica, sans-serif;

}

body {
    background-color: var(--primary);
    /* touch-action: manipulation;
    zoom: reset; */
    /* for older browser IE */
}

footer {
    position: relative;
    display: block;
    margin: 60px -70px -60px;
    background-color: #333333;
    padding: 60px;
    text-align: center;
}

.social-icons {
    display: inline-block;
}

.icon-link {
    display: inline-block;
    margin: 0 10px;
    font-size: 32px;
    color: var(--accent);
}

.icon-link i {
    transition: color 0.3s;
}


/* Mobile screen style code */
@media (max-width: 768px) {
    body {
        background-color: var(--primary);
        position: relative;
        overflow-x: hidden;
        /* Blocks the movement*/
        width: 100%;
        text-align: center;
    }

    /* This holds the body style controll for the mobile screen */
    body {
        overflow-x: hidden;
        /* Blocks the bottom x-axis movement*/
        background-color: var(--primary);
        position: relative;
        width: 100%;
    }

    /* This element holds the nav bar styles
           The nav bar is fixed in the top of the 
           page and it bring front the whole header */
    nav {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color: var(--primary);
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
        /* The z-index used to bring the header front */
    }

    /* This hold the image in the header used to align the image */
    nav .nav-left img {
        top: 8px;
        left: 8px;
        position: absolute;
        height: 45px;
        width: 45px;
    }

    /* This holds the name in the header middle */
    nav .nav-mid h1 {
        color: var(--secondary);
        position: absolute;
        font-family: var(--font);
        font-size: 20px;
        top: 2px;
        left: 70px;

    }

    /* This holds the hamburger icon at the top right side 
        corner */
    .nav-right {
        display: flex;
        position: absolute;
        color: var(--accent);
        font-size: 22px;
        right: 50px;
        top: 15px;
        justify-content: center;
    }

    /* The input check box used to toggle the menu */
    .nav-right input {
        position: absolute;
        right: 0px;
        top: 2px;
    }


    /* =================================================== */

    .offcanvas {
        position: fixed;
        font-family: var(--font);
        top: 0;
        right: -300px;
        /* Initial position off the screen */
        width: 300px;
        height: 100vh;
        background-color: var(--primary);
        transition: right 0.3s ease-in-out;
    }

    /* This is for offcanvas close toggle  */
    .offcanvas label i {
        color: var(--secondary);
        position: relative;
        left: 100px;
        top: 10px;
        font-size: 34px;
    }

    .offcanvas h3 {
        color: var(--secondary);
    }

    /* This is for hamburger menu */
    #hamburger {
        color: var(--secondary);
        position: fixed;
        display: inline-block;
        font-size: 34px;
        right: 30px;
        top: 10px;
    }

    .toggle-label {
        cursor: pointer;
    }

    #toggleCheckbox {
        visibility: hidden;
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0;
        /* Move offcanvas to the left */
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0px;
    }

    #closeButton {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 34px;
        background: none;
        border: none;
        color: #000;
        cursor: pointer;
    }

    .offcanvas .nav-links {
        width: 100%;
        left: -40px;
        position: relative;
        list-style: none;
        text-align: left;

    }

    .offcanvas .nav-links li:hover {
        background-color: #666666;
        transition: ease-in-out 0.5s;
    }

    .offcanvas .nav-links li a {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        margin: 0px 0px 0px;
        line-height: 1.75em;
        text-decoration: none;
        color: var(--secondary);
    }

    .errorpage {
        position: relative;
        padding: 50px 0px 20px 0px;
        color: var(--secondary);
        justify-content: center;
        text-align: center;
        font-family: var(--font);
        font-size: 54px;
    }

    .errorpage p {
        position: relative;
        padding: 0px 40px 0px 30px;
        top: -45px;
        font-size: 18px;
        color: #666;
        text-align: justify;
    }

    .knowmore-btn {
        position: relative;
        top: -50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--primary);
    }

    .knowmore-btn a {
        color: var(--secondary);
        text-decoration: none;
        text-align: center;
        font-size: 22px;
        padding: 10px;
        border: 2px solid var(--accent);
        border-radius: 20px;
    }

    .copyrights {
        display: grid;
        position: relative;
        color: var(--secondary);
    }

}

/* Larger screen style code */
@media (min-width: 768px) {
    body {
        background-color: var(--primary);
    }

    nav {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color: var(--primary);
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
    }

    nav .nav-left img {
        top: 8px;
        left: 8px;
        position: absolute;
        height: 45px;
        width: 45px;
    }

    nav .nav-mid h1 {
        color: var(--secondary);
        position: absolute;
        font-family: var(--font);
        font-size: 20px;
        top: 2px;
        left: 70px;

    }

    .nav-right {
        display: flex;
        position: absolute;
        color: var(--secondary);
        font-size: 22px;
        right: 50px;
        top: 15px;
        justify-content: center;
    }

    .nav-right input {
        position: absolute;
        right: 0px;
        top: 2px;
    }

    /* =================================================== */

    .offcanvas {
        font-family: var(--font);
        position: fixed;
        top: 0;
        right: -300px;
        /* Initial position off the screen */
        width: 300px;
        height: 100vh;
        background-color: var(--primary);
        transition: right 0.3s ease-in-out;
    }

    /* This is for offcanvas close toggle  */
    .offcanvas label i {
        color: var(--secondary);
        position: relative;
        left: 240px;
        top: 10px;
        font-size: 34px;
    }

    .offcanvas h3 {
        text-align: center;
        color: var(--secondary);
    }

    /* This is for hamburger menu */
    #hamburger {
        color: var(--secondary);
        position: fixed;
        display: inline-block;
        font-size: 34px;
        right: 30px;
        top: 10px;
    }

    .toggle-label {
        cursor: pointer;
    }

    #toggleCheckbox {
        visibility: hidden;
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0;
        /* Move offcanvas to the left */
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0px;
    }

    #closeButton {
        position: absolute;
        top: 10px;
        right: 40px;
        font-size: 34px;
        background: none;
        border: none;
        color: #000;
        cursor: pointer;

    }

    .offcanvas .nav-links {
        width: 100%;
        left: -40px;
        position: relative;
        list-style: none;
        text-align: left;

    }

    .offcanvas .nav-links li:hover {
        background-color: #666666;
        transition: ease-in-out 0.5s;
    }

    .offcanvas .nav-links li a {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        margin: 0px 0px 0px;
        line-height: 1.75em;
        text-decoration: none;
        color: var(--secondary);
    }

    .errorpage {
        position: relative;
        padding: 50px 0px 20px 0px;
        color: var(--secondary);
        justify-content: center;
        text-align: center;
        font-family: var(--font);
        font-size: 54px;

    }

    .errorpage p {
        position: relative;
        padding: 0px 150px 0px 150px;
        top: -45px;
        font-size: 18px;
        color: #666;
        text-align: justify;
    }

    .knowmore-btn {
        position: relative;
        top: -50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--primary);
    }

    .knowmore-btn a {
        color: var(--secondary);
        text-decoration: none;
        text-align: center;
        font-size: 22px;
        padding: 10px;
        border: 2px solid var(--accent);
        border-radius: 20px;
    }

    footer {
        display: block;
        position: relative;
        background-color: #333;
        padding: 60px;
        margin: 250px -70px -60px;
        text-align: center;
    }

    .copyrights {
        display: grid;
        position: relative;
        color: var(--secondary);
    }

}


/* Design for larger screen more than laptop */
@media (min-width: 1200px) {

    /* Whole navigation bar header */
    nav {
        position: fixed;
        background-color: var(--primary);
        width: 100%;
        height: 70px;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
    }

    /* Navigation bar left side image */
    nav .nav-left img {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 10px;
        left: 30px;
    }

    /* Nav bar Progfile name */
    nav .nav-mid {
        color: var(--secondary);
        position: absolute;
        width: 100%;
        font-family: var(--font);
        font-size: 20px;
        top: 7px;
        left: 50px;
    }

    /* This line remove the hamburger menu in the larger 
            screen without allocating the space display none helps to remove the space */
    #hamburger {
        display: none;
    }

    .offcanvas {}

    .offcanvas label,
    h3 {
        display: none;
    }

    .offcanvas ul {
        display: flex;
        flex-direction: row;
        left: 50px;
    }

    .offcanvas ul li {
        /* background-color: red;  */
        position: relative;
        right: 700px;
        margin-top: -5px;
    }

    .errorpage p {
        position: relative;
        padding: 0px 350px 0px 300px;
    }



    footer {
        display: block;
        position: relative;
        background-color: #333;
        padding: 60px;
        margin: 300px -70px -60px;
        text-align: center;
    }

    .copyrights {
        display: grid;
        position: relative;
        color: var(--secondary);
    }
}

@media (min-width: 1480px) {
    .errorpage p {
        position: relative;
        padding: 0px 400px 0px 450px;
    }
}