/* This root is used to declare and stores the variables for colors and font */
:root {
    --primary: #222222;
    --secondary: #ffffff;
    --accent: #2979FF;
    --font: "Poppins", Helvetica, sans-serif;

}

/* Controls the whole body */
body {
    background-color: var(--primary);
}

/* This style for the footer */
footer {
    display: block;
    position: relative;
    background-color: #333;
    padding: 60px;
    margin: 60px -70px -60px;
    text-align: center;
}

/* Social icons in the footer displayed in inline block */
.social-icons {
    display: inline-block;
}

/* Social media icons style color and fonts */
.icon-link {
    display: inline-block;
    margin: 0 10px;
    font-size: 32px;
    color: var(--accent);
}

.icon-link i {
    transition: color 0.3s;
}

#work-experience{
    position: relative;
    color: var(--secondary);
    font-family: var(--font);
    margin-left: 10px;
}
.companyinfo{
    color: var(--secondary);
    font-family: var(--font);
}
.companyinfo img{
    position: relative;
    height: 50px;
    width: 50px;
}
/* ==================================================================================
   Mobile screen style code
   ================================================================================== */
@media (max-width: 768px) {

    /* Controls the body in the mobile screen */
    body {
        background-color: var(--primary);
        position: relative;
        overflow-x: hidden;
        width: 100%;
    }

    /* Used to controls the horizontal line */
    .horizontal {
        border: none;
        border-top: 2px solid #444;
        width: 100%;
        padding-left: 20px;
    }

    /* ===========================================================
        Header navbar  
    ===============================================================*/
    /* This element holds the nav bar styles
           The nav bar is fixed in the top of the 
           page and it bring front the whole header */
    nav {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color: var(--primary);
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
        /* The z-index used to bring the header front */
    }

    /* This hold the image in the header used to align the image */
    nav .nav-left img {
        top: 8px;
        left: 8px;
        position: absolute;
        height: 45px;
        width: 45px;
    }

    /* This holds the name in the header middle */
    nav .nav-mid h1 {
        color: var(--secondary);
        position: absolute;
        font-family: var(--font);
        font-size: 20px;
        top: 2px;
        left: 70px;

    }

    /* This holds the hamburger icon at the top right side 
        corner */
    .nav-right {
        display: flex;
        position: absolute;
        color: var(--secondary);
        font-size: 22px;
        right: 50px;
        top: 15px;
        justify-content: center;
    }

    /* The input check box used to toggle the menu */
    .nav-right input {
        position: absolute;
        right: 0px;
        top: 2px;
    }


    /* =================================================== */

    /* When the hamburger icon clicked offcanvas style  */
    .offcanvas {
        position: fixed;
        top: 0;
        right: -300px;
        font-family: var(--font);
        /* Initial position off the screen */
        width: 300px;
        height: 100vh;
        background-color: var(--primary);
        transition: right 0.3s ease-in-out;
    }

    /* This is for offcanvas close toggle  */
    .offcanvas label i {
        color: var(--secondary);
        position: relative;
        left: 236px;
        top: 10px;
        font-size: 34px;
    }

    /* Inside the offcanvas the menu text style */
    .offcanvas h3 {
        color: var(--secondary);
        text-align: center;
    }

    /* This is for hamburger menu */
    #hamburger {
        color: var(--secondary);
        position: fixed;
        display: inline-block;
        font-size: 34px;
        right: 30px;
        top: 10px;
    }

    .toggle-label {
        cursor: pointer;
    }

    /* Hides the checkbox */
    #toggleCheckbox {
        visibility: hidden;
    }

    /* This line used to show the offcanvas when hamburger clicked */
    #toggleCheckbox:checked~.offcanvas {
        right: 0;
        /* Move offcanvas to the left */
    }

    /* Style for the offcanvas links */
    .offcanvas .nav-links {
        width: 100%;
        left: -40px;
        position: relative;
        list-style: none;
        text-align: left;

    }

    /* Style for offcanvas links when hovering the background color changes */
    .offcanvas .nav-links li:hover {
        background-color: #666666;
        transition: ease-in-out 0.5s;
    }

    /* Inside the offcanvas this holds the style for anchor  */
    .offcanvas .nav-links li a {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        margin: 0px 0px 0px;
        line-height: 1.75em;
        text-decoration: none;
        color: var(--secondary);
        font-family: var(--font);
    }

    /* ================================================== */
    .aboutexp {
        text-align: center;
        position: relative;
        /* background-color: red; */
        width: 100%;
        height: 80px;
        top: 50px;
        color: var(--secondary);
        font-family: var(--font);
    }

    .aboutexp hr {
        position: relative;
        right: 30px;
        top: -10px;
    }

    #about {
        /* Used to adjust the content top right bottom left */

        padding: 20px 30px 12px 10px;
    }

    .shortbio {
        position: relative;
        top: 50px;
        color: #d5d5d5;
        width: 100%;
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        line-height: 1.75em;
        text-align: justify;
        margin: 0 0 10px;
        font-weight: 400;
        word-wrap: break-word;
    }

    /* This id for styling the progress section */
    #progress {
        color: var(--secondary);
        font-family: var(--font);
        position: relative;
        padding: 0px 50px 0px 10px;
    }

    progress {
        position: relative;
        width: 100%;
    }

    #progress .programming-lang .program .lang {
        position: relative;
        float: left;
    }

    #progress .programming-lang .program .value {
        position: relative;
        float: right;
    }

    .copyrights {
        display: grid;
        position: relative;
        color: var(--secondary);
    }

}

/*======================================================================
 More than tablet and laptop screen Larger screen style code 
 ======================================================================*/
@media (min-width: 768px) {
    body {
        background-color: var(--primary);
        overflow-x: hidden;
    }

    .horizontal {
        border: none;
        border-top: 2px solid #444;
        width: 100%;
        padding-left: 40px;
    }

    nav {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color: var(--primary);
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
    }

    nav .nav-left img {
        top: 8px;
        left: 8px;
        position: absolute;
        height: 45px;
        width: 45px;
    }

    nav .nav-mid h1 {
        color: var(--secondary);
        position: absolute;
        font-family: var(--font);
        font-size: 20px;
        top: 2px;
        left: 70px;

    }

    .nav-right {
        display: flex;
        position: absolute;
        color: var(--secondary);
        font-size: 22px;
        right: 50px;
        top: 15px;
        justify-content: center;
    }

    .nav-right input {
        position: absolute;
        right: 0px;
        top: 2px;
    }

    /* =================================================== */

    .offcanvas {
        font-family: var(--font);
        position: fixed;
        top: 0;
        right: -300px;
        /* Initial position off the screen */
        width: 300px;
        height: 100vh;
        background-color: var(--primary);
        transition: right 0.3s ease-in-out;
    }

    /* This is for offcanvas close toggle  */
    .offcanvas label i {
        color: var(--secondary);
        position: relative;
        left: 240px;
        top: 10px;
        font-size: 34px;
    }

    .offcanvas h3 {
        text-align: center;
        color: var(--secondary);
    }

    /* This is for hamburger menu */
    #hamburger {
        color: var(--secondary);
        position: fixed;
        display: inline-block;
        font-size: 34px;
        right: 30px;
        top: 10px;
    }

    .toggle-label {
        cursor: pointer;
    }

    #toggleCheckbox {
        visibility: hidden;
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0;
        /* Move offcanvas to the left */
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0px;
    }

    #closeButton {
        position: absolute;
        top: 10px;
        right: 40px;
        font-size: 34px;
        background: none;
        border: none;
        color: #000;
        cursor: pointer;

    }

    .offcanvas .nav-links {
        width: 100%;
        left: -40px;
        position: relative;
        list-style: none;
        text-align: left;

    }

    .offcanvas .nav-links li:hover {
        background-color: #666666;
        transition: ease-in-out 0.5s;
    }

    .offcanvas .nav-links li a {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        margin: 0px 0px 0px;
        line-height: 1.75em;
        text-decoration: none;
        color: var(--secondary);
    }

    .aboutexp {
        text-align: center;
        position: relative;
        /* background-color: red; */
        width: 100%;
        height: 80px;
        top: 50px;
        color: var(--secondary);
        font-family: var(--font);
    }

    .aboutexp hr {
        position: relative;
        right: 30px;
        top: -10px;
    }

    #about {
        /* Used to adjust the content top right bottom left */

        padding: 0px 100px 0px 100px;
    }

    .shortbio {
        position: relative;
        top: 100px;
        color: #d5d5d5;
        width: 100%;
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        line-height: 1.75em;
        text-align: justify;
        margin: 0 0 10px;
        font-weight: 400;
        word-wrap: break-word;
    }

    #progress {
        padding: 0px 100px 0px 100px;
        display: flex;
        flex-direction: row;
        gap: 50px;
        font-family: var(--font);
        color: var(--secondary);
        margin: 10px 10px 12px 3px;
    }
    #work-experience{
        padding: 0px 100px 0px 100px;
    }

    .programming-lang {
        display: flex;
        flex-direction: column;
        max-width: 50%;
    }

    progress {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: -15px 0px 0px 0px;
    }

    .programming-lang .program .lang {
        position: relative;
        float: left;
    }

    .programming-lang .program .value {
        position: relative;
        float: right;
    }

    .copyrights {
        display: grid;
        position: relative;
        color: var(--secondary);
    }
}


/* This style for the larger screen */
@media (min-width: 1200px) {

    /* Whole navigation bar header */
    nav {
        position: fixed;
        background-color: var(--primary);
        width: 100%;
        height: 70px;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
    }

    /* Navigation bar left side image */
    nav .nav-left img {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 10px;
        left: 30px;
    }

    /* Nav bar Progfile name */
    nav .nav-mid {
        color: var(--secondary);
        position: absolute;
        width: 100%;
        font-family: var(--font);
        font-size: 20px;
        top: 7px;
        left: 50px;
    }

    /* This line remove the hamburger menu in the larger 
        screen without allocating the space display none helps to remove the space */
    #hamburger {
        display: none;
    }

    .offcanvas {}

    .offcanvas label,
    h3 {
        display: none;
    }

    .offcanvas ul {
        display: flex;
        flex-direction: row;
        left: 50px;
    }

    .offcanvas ul li {
        /* background-color: red;  */
        position: relative;
        right: 700px;
        margin-top: -5px;
    }

    .aboutexp h3 {
        display: block;
    }

    #about {
        /* Used to adjust the content top right bottom left */

        padding: 0px 300px 20px 300px;
    }

    #progress{
        padding: 0px 300px 0px 300px;
    }

    #work-experience{
        padding: 0px 300px 0px 300px;
        position: relative;
        top: 30px;
    }
    footer {
        display: block;
        position: relative;
        background-color: #333;
        padding: 60px;
        margin: 60px -70px -60px;
        text-align: center;
    }
}