/* This root is used to declare and stores the variables for colors and font */
:root {
    --primary: #222222;
    --secondary: #ffffff;
    --accent: #2979FF;
    --font: "Poppins", Helvetica, sans-serif;

}

/* Controls the whole body */
body {
    /* background-color: var(--primary); */
    background-color: white;
}

/* This style for the footer */
footer {
    display: block;
    position: relative;
    background-color: #333;
    padding: 60px;
    margin: 60px -70px -60px;
    text-align: center;
}

/* Social icons in the footer displayed in inline block */
.social-icons {
    display: inline-block;
}

/* Social media icons style color and fonts */
.icon-link {
    display: inline-block;
    margin: 0 10px;
    font-size: 32px;
    color: var(--accent);
}

.icon-link i {
    transition: color 0.3s;
}

.copyrights {
    display: grid;
    position: relative;
    color: var(--secondary);
}

/* ==================================================================================
   Mobile screen style code
   ================================================================================== */
@media (max-width: 768px) {

    /* Controls the body in the mobile screen */
    body {
        background-color: var(--primary);
        position: relative;
        overflow-x: hidden;
        width: 100%;
    }

    /* Used to controls the horizontal line */
    .horizontal {
        border: none;
        border-top: 2px solid #444;
        width: 100%;
        padding-left: 20px;
    }

    /* ===========================================================
        Header navbar  
    ===============================================================*/
    /* This element holds the nav bar styles
           The nav bar is fixed in the top of the 
           page and it bring front the whole header */
    nav {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color: var(--primary);
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
        /* The z-index used to bring the header front */
    }

    /* This hold the image in the header used to align the image */
    nav .nav-left img {
        top: 8px;
        left: 8px;
        position: absolute;
        height: 45px;
        width: 45px;
    }

    /* This holds the name in the header middle */
    nav .nav-mid h1 {
        color: var(--secondary);
        position: absolute;
        font-family: var(--font);
        font-size: 20px;
        top: 2px;
        left: 70px;

    }

    /* This holds the hamburger icon at the top right side 
        corner */
    .nav-right {
        display: flex;
        position: absolute;
        color: var(--secondary);
        font-size: 22px;
        right: 50px;
        top: 15px;
        justify-content: center;
    }

    /* The input check box used to toggle the menu */
    .nav-right input {
        position: absolute;
        right: 0px;
        top: 2px;
    }


    /* =================================================== */

    /* When the hamburger icon clicked offcanvas style  */
    .offcanvas {
        position: fixed;
        top: 0;
        right: -300px;
        font-family: var(--font);
        /* Initial position off the screen */
        width: 300px;
        height: 100vh;
        background-color: var(--primary);
        transition: right 0.3s ease-in-out;
    }

    /* This is for offcanvas close toggle  */
    .offcanvas label i {
        color: var(--secondary);
        position: relative;
        left: 236px;
        top: 10px;
        font-size: 34px;
    }

    /* Inside the offcanvas the menu text style */
    .offcanvas h3 {
        color: var(--secondary);
        text-align: center;
    }

    /* This is for hamburger menu */
    #hamburger {
        color: var(--secondary);
        position: fixed;
        display: inline-block;
        font-size: 34px;
        right: 30px;
        top: 10px;
    }

    .toggle-label {
        cursor: pointer;
    }

    /* Hides the checkbox */
    #toggleCheckbox {
        visibility: hidden;
    }

    /* This line used to show the offcanvas when hamburger clicked */
    #toggleCheckbox:checked~.offcanvas {
        right: 0;
        /* Move offcanvas to the left */
    }

    /* Style for the offcanvas links */
    .offcanvas .nav-links {
        width: 100%;
        left: -40px;
        position: relative;
        list-style: none;
        text-align: left;

    }

    /* Style for offcanvas links when hovering the background color changes */
    .offcanvas .nav-links li:hover {
        background-color: #666666;
        transition: ease-in-out 0.5s;
    }

    /* Inside the offcanvas this holds the style for anchor  */
    .offcanvas .nav-links li a {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        margin: 0px 0px 0px;
        line-height: 1.75em;
        text-decoration: none;
        color: var(--secondary);
        font-family: var(--font);
    }

    /* Basic form layout */
    .contact {
        position: relative;
        top: 100px;
        color: var(--secondary);
        font-family: var(--font);
    }
    .star {
        color: red;
    }

    .contact-form {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 250px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 30px;
    }

    .form-group {
        position: relative;
        margin-bottom: 20px;
    }

    /* Styling for labels */
    .form-group label {
        position: relative;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    /* Styling for input fields */
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"],
    .form-group textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
    }

    /* Styling for the textarea */
    .form-group textarea {
        resize: vertical;
    }

    /* Styling for the submit button */
    button[type="submit"] {
        background-color: #D87214;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #BF5B05;
    }


    /* This style is for myinfo after contact form*/

    .myinfo {
        position: relative;
        display: block;
        padding: 50px 50px;
        top: 100px;
    }

    .info-item {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 0px;
    }

    .info-item i {
        margin-right: 30px;
        margin-bottom: 5px;
        color: #D87214;
        font-size: 24px;
    }

    .info-item h4 {
        font-family: var(--font);
        color: var(--secondary);
        text-align: left;
    }

    footer {
        display: block;
        position: relative;
        background-color: #333;
        padding: 60px;
        margin: 60px -70px -60px;
        text-align: center;
    }
}

/*======================================================================
 More than tablet and laptop screen Larger screen style code 
 ======================================================================*/
 @media (min-width: 768px) {
    body {
        background-color: var(--primary);
    }

    .horizontal {
        border: none;
        border-top: 2px solid #444;
        width: 100%;
        padding-left: 40px;
    }

    nav {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color: var(--primary);
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
    }

    nav .nav-left img {
        top: 8px;
        left: 8px;
        position: absolute;
        height: 45px;
        width: 45px;
    }

    nav .nav-mid h1 {
        color: var(--secondary);
        position: absolute;
        font-family: var(--font);
        font-size: 20px;
        top: 2px;
        left: 70px;

    }

    .nav-right {
        display: flex;
        position: absolute;
        color: var(--secondary);
        font-size: 22px;
        right: 50px;
        top: 15px;
        justify-content: center;
    }

    .nav-right input {
        position: absolute;
        right: 0px;
        top: 2px;
    }

    /* =================================================== */

    .offcanvas {
        font-family: var(--font);
        position: fixed;
        top: 0;
        right: -300px;
        /* Initial position off the screen */
        width: 300px;
        height: 100vh;
        background-color: var(--primary);
        transition: right 0.3s ease-in-out;
    }

    /* This is for offcanvas close toggle  */
    .offcanvas label i {
        color: var(--secondary);
        position: relative;
        left: 240px;
        top: 10px;
        font-size: 34px;
    }

    .offcanvas h3 {
        text-align: center;
        color: var(--secondary);
    }

    /* This is for hamburger menu */
    #hamburger {
        color: var(--secondary);
        position: fixed;
        display: inline-block;
        font-size: 34px;
        right: 30px;
        top: 10px;
    }

    .toggle-label {
        cursor: pointer;
    }

    #toggleCheckbox {
        visibility: hidden;
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0;
        /* Move offcanvas to the left */
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0px;
    }

    #closeButton {
        position: absolute;
        top: 10px;
        right: 40px;
        font-size: 34px;
        background: none;
        border: none;
        color: #000;
        cursor: pointer;

    }

    .offcanvas .nav-links {
        width: 100%;
        left: -40px;
        position: relative;
        list-style: none;
        text-align: left;

    }

    .offcanvas .nav-links li:hover {
        background-color: #666666;
        transition: ease-in-out 0.5s;
    }

    .offcanvas .nav-links li a {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        margin: 0px 0px 0px;
        line-height: 1.75em;
        text-decoration: none;
        color: var(--secondary);
    }


    /* Basic form layout */
    .contact {
        position: relative;
        top: 100px;
        color: var(--secondary);
        font-family: var(--font);
    }
    .star {
        color: red;
    }

    .contact-form {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 250px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 30px;
    }

    .form-group {
        position: relative;
        margin-bottom: 20px;
    }

    /* Styling for labels */
    .form-group label {
        position: relative;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    /* Styling for input fields */
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"],
    .form-group textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
    }

    /* Styling for the textarea */
    .form-group textarea {
        resize: vertical;
    }

    /* Styling for the submit button */
    button[type="submit"] {
        background-color: #D87214;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #BF5B05;
    }


    /* This style is for myinfo after contact form*/

    .myinfo {
        position: relative;
        padding: 50px 50px;
        top: 100px;
    }

    .info-item {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 0px;
    }

    .info-item i {
        margin-right: 30px;
        margin-bottom: 5px;
        color: #D87214;
        font-size: 24px;
    }

    .info-item h4 {
        font-family: var(--font);
        color: var(--secondary);
        text-align: left;
    }
 }

 /* This style for the larger screen */
@media (min-width: 1200px) {
    body{
        overflow-x: hidden;
    }
    /* Whole navigation bar header */
    nav {
        position: fixed;
        background-color: var(--primary);
        width: 100%;
        height: 70px;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
    }

    /* Navigation bar left side image */
    nav .nav-left img {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 10px;
        left: 30px;
    }

    /* Nav bar Progfile name */
    nav .nav-mid {
        color: var(--secondary);
        position: absolute;
        width: 100%;
        font-family: var(--font);
        font-size: 20px;
        top: 7px;
        left: 50px;
    }

    /* This line remove the hamburger menu in the larger 
        screen without allocating the space display none helps to remove the space */
    #hamburger {
        display: none;
    }

    .offcanvas {}

    .offcanvas label,
    h3 {
        display: none;
    }

    .offcanvas ul {
        display: flex;
        flex-direction: row;
        left: 50px;
    }

    .offcanvas ul li {
        /* background-color: red;  */
        position: relative;
        right: 700px;
        margin-top: -5px;
    }



    /* Basic form layout */
    .contact {
        position: relative;
        top: 200px;
        color: var(--secondary);
        font-family: var(--font);
    }
    .star {
        color: red;
    }

    .contact-form {
        position: relative;
        right: 350px;
        display: flex;
        flex-direction: column;
        width: 250px;
        margin: 0 auto;
    }

    .form-group {
        position: relative;
        margin-bottom: 20px;
    }

    /* Styling for labels */
    .form-group label {
        position: relative;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    /* Styling for input fields */
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"],
    .form-group textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
    }

    /* Styling for the textarea */
    .form-group textarea {
        resize: vertical;
    }

    /* Styling for the submit button */
    button[type="submit"] {
        background-color: #D87214;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #BF5B05;
    }


    /* This style is for myinfo after contact form*/

    .myinfo {
        position: relative;
        padding: 50px 0px;
        top: -450px;
        left: 850px;
    }

    .info-item {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 0px;
    }

    .info-item i {
        margin-right: 30px;
        margin-bottom: 5px;
        color: #D87214;
        font-size: 24px;
    }

    .info-item h4 {
        font-family: var(--font);
        color: var(--secondary);
        text-align: left;
    }

    footer {
        display: block;
        position: relative;
        background-color: #333;
        padding: 60px;
        margin: 60px -70px -60px;
        text-align: center;
    }
}