/* The root will used to declare the color and font variables */
:root {
    --primary: #222222;
    --secondary: #ffffff;
    --accent: #2979FF;
    --font: "Poppins", Helvetica, sans-serif;

}

/* Controlls the whole body content */
body {
    background-color: var(--primary);
    width: 100%;
    /* touch-action: manipulation;
    zoom: reset; */
    /* for older browser IE */
}

/* This holds the footer */
footer {
    position: relative;
    display: block;
    margin: 60px -70px -60px;
    background-color: #333333;
    padding: 60px;
    text-align: center;
}

/* This holds the copyrights in footer */
.copyrights {
    display: grid;
    position: relative;
    color: var(--secondary);
}

/* This contains the social icons in the inline block */
.social-icons {
    display: inline-block;
}

/* Icons font styles  */
.icon-link {
    display: inline-block;
    margin: 0 10px;
    font-size: 32px;
    color: var(--secondary);
}

/* ======================================================
    Mobile screen style code 
   =====================================================*/
@media (max-width: 768px) {

    /* This holds the body style controll for the mobile screen */
    body {
        overflow-x: hidden;
        /* Blocks the bottom x-axis movement*/
        background-color: var(--primary);
        position: relative;
        width: 100%;
    }

    /* This element holds the nav bar styles
       The nav bar is fixed in the top of the 
       page and it bring front the whole header */
    nav {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color: var(--primary);
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
        /* The z-index used to bring the header front */
    }

    /* This hold the image in the header used to align the image */
    nav .nav-left img {
        top: 8px;
        left: 8px;
        position: absolute;
        height: 45px;
        width: 45px;
    }

    /* This holds the name in the header middle */
    nav .nav-mid h1 {
        color: var(--secondary);
        position: absolute;
        font-family: var(--font);
        font-size: 20px;
        top: 2px;
        left: 70px;

    }

    /* This holds the hamburger icon at the top right side 
    corner */
    .nav-right {
        display: flex;
        position: absolute;
        color: var(--accent);
        font-size: 22px;
        right: 50px;
        top: 15px;
        justify-content: center;
    }

    /* The input check box used to toggle the menu */
    .nav-right input {
        position: absolute;
        right: 0px;
        top: 2px;
    }


    /* =================================================== */

    .offcanvas {
        position: fixed;
        top: 0;
        right: -300px;
        /* Initial position off the screen */
        width: 300px;
        height: 100vh;
        background-color: var(--primary);
        transition: right 0.3s ease-in-out;
    }

    /* This is for offcanvas close toggle  */
    .offcanvas label i {
        color: var(--secondary);
        position: relative;
        left: 100px;
        top: 10px;
        font-size: 34px;
    }

    /* This is for hamburger menu */
    #hamburger {
        position: fixed;
        display: inline-block;
        font-size: 34px;
        right: 30px;
        top: 10px;
    }

    .toggle-label {
        cursor: pointer;
    }

    #toggleCheckbox {
        visibility: hidden;
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0;
        /* Move offcanvas to the left */
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0px;
    }

    #closeButton {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 34px;
        background: none;
        border: none;
        color: #000;
        cursor: pointer;
    }

    .offcanvas .nav-links {
        width: 100%;
        left: -40px;
        position: relative;
        list-style: none;
        text-align: left;

    }

    .offcanvas .nav-links li:hover {
        background-color: #666666;
        transition: ease-in-out 0.5s;
    }

    .offcanvas .nav-links li a {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        margin: 0px 0px 0px;
        line-height: 1.75em;
        text-decoration: none;
        color: var(--secondary);
    }

    /* ===================================================== */

    /* This header is for the auto typing job role */
    header {
        background-color: var(--primary);
        padding: 40px;
        color: var(--secondary);
        text-align: center;
        font-family: var(--font);

    }

    /* Header h1 holds my name */
    header h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    /* Header h2 holds the job role */
    header h2 {
        font-size: 24px;
    }

    /* This splash class used to animate the 
        im hariharan and loop the role position */

    .splash {
        animation: splashAnimation 0.5s ease-in-out;
    }

    @keyframes splashAnimation {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    /* The profile class helps to display in flex and center the image  */
    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Style for the image  */
    .profile img {
        position: relative;
        top: 40px;
        height: 45%;
        width: 50%;
        justify-content: center;
        align-items: center;
        border: 10px solid #444;
        border-radius: 50%;
    }

    /* Controlls the div for the shortbio class */
    .shortbio {
        position: relative;
        color: #d5d5d5;
        width: 100%;
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        line-height: 1.75em;
        text-align: justify;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        word-wrap: break-word;
    }

    /* This class holds the shortbio paragraph */
    .shortbio p {
        position: relative;
        padding: 0px 40px 0px 20px;
    }

    /* This know more button helps to redirect to about page */
    .knowmore-btn {
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--primary);
    }

    .knowmore-btn a {
        color: var(--secondary);
        text-decoration: none;
        text-align: center;
        padding: 10px;
        border: 2px solid var(--accent);
        border-radius: 10px;
    }

}


/* ==========================================================================
   more than tablet to laptop screen style code 
==============================================================================*/
@media (min-width: 768px) {
    body {
        overflow-x: hidden;
        /* Blocks the movement*/
        background-color: var(--primary);
        position: relative;
        width: 100%;
    }

    /* This main class is used to holds all the body content */
    .main {
        position: relative;
        justify-content: center;
        align-items: center;
        /* width: 80%;
        left: 100px; */

        background-color: var(--primary);
    }

    nav {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color: var(--primary);
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
    }

    nav .nav-left img {
        top: 8px;
        left: 8px;
        position: absolute;
        height: 45px;
        width: 45px;
    }

    nav .nav-mid h1 {
        color: var(--secondary);
        position: absolute;
        font-family: var(--font);
        font-size: 20px;
        top: 2px;
        left: 70px;

    }

    .nav-right {
        display: flex;
        position: absolute;
        color: var(--secondary);
        font-size: 22px;
        right: 50px;
        top: 15px;
        justify-content: center;
    }

    .nav-right input {
        position: absolute;
        right: 0px;
        top: 2px;
    }

    /* =================================================== */

    .offcanvas {
        position: fixed;
        top: 0;
        right: -300px;
        /* Initial position off the screen */
        width: 300px;
        height: 100vh;
        background-color: var(--primary);
        transition: right 0.3s ease-in-out;
    }

    /* This is for offcanvas close toggle  */
    .offcanvas label i {
        color: var(--secondary);
        position: relative;
        left: 100px;
        top: 10px;
        font-size: 34px;
    }

    /* This is for hamburger menu */
    #hamburger {
        position: fixed;
        display: inline-block;
        font-size: 34px;
        right: 30px;
        top: 10px;
    }

    .toggle-label {
        cursor: pointer;
    }

    #toggleCheckbox {
        visibility: hidden;
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0;
        /* Move offcanvas to the left */
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0px;
    }

    #closeButton {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 34px;
        background: none;
        border: none;
        color: #000;
        cursor: pointer;
    }

    .offcanvas .nav-links {
        width: 100%;
        left: -40px;
        position: relative;
        list-style: none;
        text-align: left;

    }

    .offcanvas .nav-links li:hover {
        background-color: #666666;
        transition: ease-in-out 0.5s;
    }

    .offcanvas .nav-links li a {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        margin: 0px 0px 0px;
        line-height: 1.75em;
        text-decoration: none;
        color: var(--secondary);
    }

    /* ===================================================== */

    header {
        position: relative;
        bottom: 130px;
        left: 0px;
        background-color: transparent;
        padding: 0px 350px 0px 0px;
        color: var(--secondary);
        text-align: center;
        font-family: var(--font);

    }

    header h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    header h2 {
        font-size: 24px;
    }

    /* This is used to animate the job role */

    .splash {
        animation: splashAnimation 0.5s ease-in-out;
    }

    @keyframes splashAnimation {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile img {
        position: relative;
        top: 200px;
        left: 250px;
        height: 25%;
        width: 25%;
        border: 10px solid #444;
        border-radius: 50%;
    }

    .shortbio {
        position: relative;
        bottom: 100px;
        color: #d5d5d5;
        width: 60%;
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        line-height: 1.75em;
        text-align: justify;
        align-items: center;
        justify-content: center;
        margin: 0 0 10px;
        font-weight: 400;
        word-wrap: break-word;
    }

    .shortbio p {
        position: relative;
        padding: 0px 40px 0px 60px;
    }

    .knowmore-btn {
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--primary);
    }

    .knowmore-btn a {
        color: var(--secondary);
        text-decoration: none;
        text-align: center;
        padding: 10px;
        border: 2px solid var(--accent);
        border-radius: 10px;
    }

}

/* ==================================================================================
   Larger screen style code 
=====================================================================================*/
@media (min-width: 1200px) {

    /* Controlls the body in larger screen */
    body {
        background-color: var(--primary);
        overflow-x: hidden;
    }

    .main {
        position: relative;
        width: 70%;
        left: 10%;
    }
    /* Whole navigation bar header */
    nav {
        position: fixed;
        background-color: var(--primary);
        width: 100%;
        height: 70px;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
    }

    /* Navigation bar left side image */
    nav .nav-left img {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 10px;
        left: 30px;
    }

    /* Nav bar Progfile name */
    nav .nav-mid {
        color: var(--secondary);
        position: absolute;
        width: 100%;
        font-family: var(--font);
        font-size: 20px;
        top: 7px;
        left: 50px;
    }

    /* This line remove the hamburger menu in the larger 
    screen without allocating the space display none helps to remove the space */
    #hamburger {
        display: none;
    }

    .offcanvas {}

    .offcanvas label,
    h3 {
        display: none;
    }

    .offcanvas ul {
        display: flex;
        flex-direction: row;
        left: 50px;
    }

    .offcanvas ul li {
        /* background-color: red;  */
        position: relative;
        right: 700px;
        margin-top: -5px;
    }

    .profile {
        position: relative;
        padding: 10px 0px 0px 230px;
    }

    .role {
        position: relative;
        bottom: 80px;
        left: -50px;
    }

    .shortbio {
        position: relative;
        bottom: 50px;
        width: 70%;
    }
}

@media (min-width: 1700px) {
    .role {
        position: relative;
        bottom: 200px;
    }

    .shortbio {
        position: relative;
        bottom: 100px;
        padding-left: 100px;
        width: 60%;
        bottom: 140px;
    }
}