/* This root is used to declare and stores the variables for colors and font */
:root {
    --primary: #222222;
    --secondary: #ffffff;
    --accent: #2979FF;
    --font: "Poppins", Helvetica, sans-serif;

}

/* Controls the whole body */
body {
    background-color: var(--primary);
}

.row {
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.columns {
    position: relative;
    top: 100px;
    width: 28%;
    min-width: 280px;
    min-height: 380px;
    vertical-align: top;
    /*Fix for different     height elements*/
    margin-right: 30px;
    margin-bottom: 50px;
    display: inline-block;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}

.columns a {
    color: var(--secondary);
    text-decoration: none;
}

.project-img {
    /* transition: transform 1s all; */
    animation: scaleUp 0.25s ease forwards;
}
@keyframe scaleUp{
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1)
    }
}

.columns:hover .project-img {
    transform: scale3d(1.1, 1, 1.1);
}

/* .columns:hover > .project-img{
    transform: scale(1.0);
    transition: all 0.5s;
    color: var(--accent);
    border: 2px solid red;
} */


.align-right {
    text-align: right;
}

img {
    height: 50%;
    width: 100%;
}


/* This style for the footer */
footer {
    display: block;
    position: relative;
    background-color: #333;
    padding: 60px;
    margin: 160px -70px -60px;
    text-align: center;
}

/* Social icons in the footer displayed in inline block */
.social-icons {
    display: inline-block;
}

/* Social media icons style color and fonts */
.icon-link {
    display: inline-block;
    margin: 0 10px;
    font-size: 32px;
    color: var(--accent);
}

.icon-link i {
    transition: color 0.3s;
}

/* ==================================================================================
   Mobile screen style code
   ================================================================================== */
@media (max-width: 768px) {
    .columns {
        border: 2px solid var(--accent);
        width: 100%;
        margin-left: -10px;
    }

    /* Controls the body in the mobile screen */
    body {
        background-color: var(--primary);
        position: relative;
        overflow-x: hidden;
        width: 100%;
    }

    /* ===========================================================
        Header navbar  
    ===============================================================*/
    /* This element holds the nav bar styles
           The nav bar is fixed in the top of the 
           page and it bring front the whole header */
    nav {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color: var(--primary);
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
        /* The z-index used to bring the header front */
    }

    /* This hold the image in the header used to align the image */
    nav .nav-left img {
        top: 8px;
        left: 8px;
        position: absolute;
        height: 45px;
        width: 45px;
    }

    /* This holds the name in the header middle */
    nav .nav-mid h1 {
        color: var(--secondary);
        position: absolute;
        font-family: var(--font);
        font-size: 20px;
        top: 2px;
        left: 70px;

    }

    /* This holds the hamburger icon at the top right side 
        corner */
    .nav-right {
        display: flex;
        position: absolute;
        color: var(--secondary);
        font-size: 22px;
        right: 50px;
        top: 15px;
        justify-content: center;
    }

    /* The input check box used to toggle the menu */
    .nav-right input {
        position: absolute;
        right: 0px;
        top: 2px;
    }


    /* =================================================== */

    /* When the hamburger icon clicked offcanvas style  */
    .offcanvas {
        position: fixed;
        top: 0;
        right: -300px;
        font-family: var(--font);
        /* Initial position off the screen */
        width: 300px;
        height: 100vh;
        background-color: var(--primary);
        transition: right 0.3s ease-in-out;
    }

    /* This is for offcanvas close toggle  */
    .offcanvas label i {
        color: var(--secondary);
        position: relative;
        left: 236px;
        top: 10px;
        font-size: 34px;
    }

    /* Inside the offcanvas the menu text style */
    .offcanvas h3 {
        color: var(--secondary);
        text-align: center;
    }

    /* This is for hamburger menu */
    #hamburger {
        color: var(--secondary);
        position: fixed;
        display: inline-block;
        font-size: 34px;
        right: 30px;
        top: 10px;
    }

    .toggle-label {
        cursor: pointer;
    }

    /* Hides the checkbox */
    #toggleCheckbox {
        visibility: hidden;
    }

    /* This line used to show the offcanvas when hamburger clicked */
    #toggleCheckbox:checked~.offcanvas {
        right: 0;
        /* Move offcanvas to the left */
    }

    /* Style for the offcanvas links */
    .offcanvas .nav-links {
        width: 100%;
        left: -40px;
        position: relative;
        list-style: none;
        text-align: left;

    }

    /* Style for offcanvas links when hovering the background color changes */
    .offcanvas .nav-links li:hover {
        background-color: #666666;
        transition: ease-in-out 0.5s;
    }

    /* Inside the offcanvas this holds the style for anchor  */
    .offcanvas .nav-links li a {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        margin: 0px 0px 0px;
        line-height: 1.75em;
        text-decoration: none;
        color: var(--secondary);
        font-family: var(--font);
    }

    .short-paragraph {
        font-family: var(--font);
        text-align: justify;
        margin: 0 20px 0 20px;
        max-height: 300px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        opacity: 0.8;
    }

    .copyrights {
        font-family: var(--font);
        color: var(--secondary);
    }
}

@media (min-width: 768px) {
    body {
        background-color: var(--primary);
        position: relative;
        overflow-x: hidden;
        width: 100%;
    }

    nav {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color: var(--primary);
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
    }

    nav .nav-left img {
        top: 8px;
        left: 8px;
        position: absolute;
        height: 45px;
        width: 45px;
    }

    nav .nav-mid h1 {
        color: var(--secondary);
        position: absolute;
        font-family: var(--font);
        font-size: 20px;
        top: 2px;
        left: 70px;

    }

    .nav-right {
        display: flex;
        position: absolute;
        color: var(--secondary);
        font-size: 22px;
        right: 50px;
        top: 15px;
        justify-content: center;
    }

    .nav-right input {
        position: absolute;
        right: 0px;
        top: 2px;
    }

    /* =================================================== */

    .offcanvas {
        font-family: var(--font);
        position: fixed;
        top: 0;
        right: -300px;
        /* Initial position off the screen */
        width: 300px;
        height: 100vh;
        background-color: var(--primary);
        transition: right 0.3s ease-in-out;
    }

    /* This is for offcanvas close toggle  */
    .offcanvas label i {
        color: var(--secondary);
        position: relative;
        left: 240px;
        top: 10px;
        font-size: 34px;
    }

    .offcanvas h3 {
        text-align: center;
        color: var(--secondary);
    }

    /* This is for hamburger menu */
    #hamburger {
        color: var(--secondary);
        position: fixed;
        display: inline-block;
        font-size: 34px;
        right: 30px;
        top: 10px;
    }

    .toggle-label {
        cursor: pointer;
    }

    #toggleCheckbox {
        visibility: hidden;
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0;
        /* Move offcanvas to the left */
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0px;
    }

    #closeButton {
        position: absolute;
        top: 10px;
        right: 40px;
        font-size: 34px;
        background: none;
        border: none;
        color: #000;
        cursor: pointer;

    }

    .offcanvas .nav-links {
        width: 100%;
        left: -40px;
        position: relative;
        list-style: none;
        text-align: left;

    }

    .offcanvas .nav-links li:hover {
        background-color: #666666;
        transition: ease-in-out 0.5s;
    }

    .offcanvas .nav-links li a {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        margin: 0px 0px 0px;
        line-height: 1.75em;
        text-decoration: none;
        color: var(--secondary);
    }

    .short-paragraph {
        font-family: var(--font);
        text-align: left;
        justify-content: center;
        align-items: center;
        margin: 0 10px 0 10px;
        max-height: 300px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        opacity: 0.8;
    }

    .copyrights {
        color: var(--secondary);
    }
}

@media (min-width: 1200px) {
    body {
        background-color: var(--primary);
        position: relative;
        overflow-x: hidden;
        width: 100%;
    }

    /* Whole navigation bar header */
    nav {
        position: fixed;
        background-color: var(--primary);
        width: 100%;
        height: 70px;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
    }

    /* Navigation bar left side image */
    nav .nav-left img {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 10px;
        left: 30px;
    }

    /* Nav bar Progfile name */
    nav .nav-mid {
        color: var(--secondary);
        position: absolute;
        width: 100%;
        font-family: var(--font);
        font-size: 20px;
        top: 7px;
        left: 50px;
    }

    /* This line remove the hamburger menu in the larger screen without allocating the space display none helps to remove the space */
    #hamburger {
        display: none;
    }

    .offcanvas {}

    .offcanvas label,
    h3 {
        display: none;
    }

    .offcanvas ul {
        display: flex;
        flex-direction: row;
        left: 50px;
    }

    .offcanvas ul li {
        /* background-color: red;  */
        position: relative;
        right: 700px;
        margin-top: -5px;
    }

    .copyrights {
        color: var(--secondary);
    }
}