:root {
    --primary: #222222;
    --secondary: #ffffff;
    --accent: #2979FF;
    --font: "Poppins", Helvetica, sans-serif;

}

body {
    background-color: var(--primary);
    /* touch-action: manipulation;
    zoom: reset; */
    /* for older browser IE */
}

footer {
    background-color: #333;
    padding: 60px;
    text-align: center;
}

.social-icons {
    display: inline-block;
}

.icon-link {
    display: inline-block;
    margin: 0 10px;
    font-size: 32px;
    color: var(--accent);
}

.icon-link i {
    transition: color 0.3s;
}


/* Mobile screen style code */
@media (max-width: 768px) {
    body {
        background-color: var(--primary);
        position: relative;
        overflow-x: hidden;
        width: 100%;
    }

    /* This element holds the nav bar styles
           The nav bar is fixed in the top of the 
           page and it bring front the whole header */
    nav {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background-color: var(--primary);
        box-shadow: 0px 1px 3px #666666;
        z-index: 999;
        /* The z-index used to bring the header front */
    }

    /* This hold the image in the header used to align the image */
    nav .nav-left img {
        top: 8px;
        left: 8px;
        position: absolute;
        height: 45px;
        width: 45px;
    }

    /* This holds the name in the header middle */
    nav .nav-mid h1 {
        color: var(--secondary);
        position: absolute;
        font-family: var(--font);
        font-size: 20px;
        top: 2px;
        left: 70px;

    }

    /* This holds the hamburger icon at the top right side 
        corner */
    .nav-right {
        display: flex;
        position: absolute;
        color: var(--secondary);
        font-size: 22px;
        right: 50px;
        top: 15px;
        justify-content: center;
    }

    /* The input check box used to toggle the menu */
    .nav-right input {
        position: absolute;
        right: 0px;
        top: 2px;
    }


    /* =================================================== */

    .offcanvas {
        font-family: var(--font);
        position: fixed;
        top: 0;
        right: -300px;
        /* Initial position off the screen */
        width: 300px;
        height: 100vh;
        background-color: var(--primary);
        transition: right 0.3s ease-in-out;
    }

    /* This is for offcanvas close toggle  */

    .offcanvas label i {
        color: var(--secondary);
        position: relative;
        left: 245px;
        top: 10px;
        font-size: 34px;
    }

    .offcanvas h3{
        position: relative;
        text-align: center;
        color: var(--secondary);
    }
    /* This is for hamburger menu */
    #hamburger {
        position: fixed;
        display: inline-block;
        font-size: 34px;
        right: 30px;
        top: 10px;
        color: var(--secondary);
    }

    .toggle-label {
        cursor: pointer;
    }

    #toggleCheckbox {
        visibility: hidden;
    }

    #toggleCheckbox:checked~.offcanvas {
        right: 0;
        /* Move offcanvas to the left */
    }

    .offcanvas .nav-links {
        width: 100%;
        left: -40px;
        position: relative;
        list-style: none;
        text-align: left;

    }

    .offcanvas .nav-links li:hover {
        background-color: #666666;
        transition: ease-in-out 0.5s;
    }

    .offcanvas .nav-links li a {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        margin: 0px 0px 0px;
        line-height: 1.75em;
        text-decoration: none;
        color: var(--secondary);
    }

    /* ===================================================== */
    /* This area is for skill styles */
    #skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 90%;
        font-family: var(--font);
    }

    #skills .programming-lang h2 {
        position: relative;
        width: 100%;
        color: var(--secondary);
        font-family: var(--font);
    }

    #skills .programming-lang h2::before {
        content: "";
        display: block;
        position: relative;
        width: 100%;
        height: 2px;
        top: 31px;
        background-color: #666666;
    }

    #skills .programming-lang h2::after {
        content: "";
        display: block;
        position: relative;
        width: 50px;
        height: 2px;
        bottom: 0;
        background-color: var(--accent);
    }

    #skills .application-dev h2 {
        position: relative;
        width: 100%;
        color: var(--secondary);
        font-family: var(--font);
    }

    .skill {
        position: relative;
        left: 10px;
        color: var(--secondary);
    }

    .skill h4 .skill-percentage {
        position: relative;
        margin-top: 0px;
    }

    .skill .skill-percentage {
        float: right;
    }

    .skill .progress-bar {
        position: relative;
        bottom: 15px;
        height: 6px;
        width: 100%;
        border-radius: 5px;
        background-color: var(--secondary);
    }

    .skill .progress-bar .progress {
        height: 6px;
        border-radius: 5px;
        background-color: var(--accent);
    }

    .copyrights {
        display: grid;
        position: relative;
        color: var(--secondary);
    }





}

/* Larger screen style code */
@media (min-width: 768px) {
    body {
        background-color: var(--primary);
    }

}