body{
    background-color: #252525;
}
.offcanvas {
    position: fixed;
    top: 0;
    right: -300px;
    /* Initial position off the screen */
    width: 300px;
    height: 100vh;
    background-color: #f2f2f2;
    transition: right 0.3s ease-in-out;
}
.offcanvas label i {
    position: relative;
    left: 260px;
    top: 10px;
    font-size: 34px;
}
 #hamburger {
    color: white;
     position: fixed;
     display: inline-block;
     font-size: 34px;
     right: 30px;
     top: 10px;
 }

.toggle-label {
    cursor: pointer;
}

#toggleCheckbox {
    visibility: hidden;
}
#toggleCheckbox:checked~.offcanvas {
    right: 0;
    /* Move offcanvas to the left */
}

#toggleCheckbox:checked~.offcanvas {
    right: 0px;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 34px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
}